<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
    body {
        font-size: 0.9em;
    }

    #logo {
        width: 50px;
        height: 50px;
        border-radius: 10px;
    }

    #logo1 {
        width: 100px;
    }

    #cadre {
        margin: 40px auto;
    }

    #part1 {
        background-color: #f0f0f0;
        height: 700px;
    }

    #part2 {
        background-color: #eef0ff;
    }

    #part3 {
        background-color: #fff2f2;
        height: 700px;
    }

    #texteInput {
        height: 50px;
    }

    .fa-plus-circle {
        font-size: 0.7em;
    }

    li {
        cursor: move !important;
    }

    #demo,
    #formfirst,
    #elements {
        margin: 30px auto !important;
    }

    #text,
    #text2,
    #text3,
    #text4 {
        z-index: 1 !important;
    }

    .list-group-item {
        border-top-width: 1 !important;
        height: auto !important;
        width: auto !important;
    }

    label {
        font-size: 1em !important;
    }

    .form-control {
        height: 50px;
    }

    #link {
        color: #ffffff;
    }
</style>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#"><img src="logo.png" id="logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#" data-toggle="modal" data-target="#exampleModal"><i
                        class="fa fa-plus-circle" aria-hidden="true"></i> Texte <span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" data-toggle="modal" data-target="#exampleModal1"><i
                        class="fa fa-plus-circle" aria-hidden="true"></i> Image</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" data-toggle="modal" data-target="#exampleModal2"><i
                        class="fa fa-plus-circle" aria-hidden="true"></i> Paragraphe</a>
            </li>
        </ul>
        <span class="navbar-text">
            <a href="index.html" id="link">Retablir la configuration par defaut</a>
        </span>
    </div>
</nav>

<div class="container" id="cadre">
    <div class="row">
        <!--1ere colonne-->
        <div class="col-md-3" id="part1">
            <ul class="list-group" id="demo">
                <li class="list-group-item" id="text">1er Element</li>
                <li class="list-group-item" id="text2">2eme Element</li>
                <li class="list-group-item" id="text3">3eme Element</li>
                <li class="list-group-item" id="text4"><img src="logo1.png" id="logo1"></li>
            </ul>
        </div>
        <!--1ere colonne-->
        <!--2eme colonne-->
        <div class="col-md-6" id="part2">
            <p id="elements">

            </p>
        </div>
        <!--2eme colonne-->
        <!--3eme colonne-->
        <div class="col-md-3" id="part3" style="z-index: 2;">
            <div id="textArea" style="display: none;">
                <div class="form-group" id="formfirst">
                    <label for="email">Choississez une police</label>
                    <select id="fs" class="form-control">
                        <option value="Arial">Arial</option>
                        <option value="Verdana ">Verdana </option>
                        <option value="Impact ">Impact </option>
                        <option value="Comic Sans MS">Comic Sans MS</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="email">Choississez une taille</label>
                    <select id="size" class="form-control">
                        <option value="16">Default</option>
                        <option value="10">10</option>
                        <option value="15">15</option>
                        <option value="20">20</option>
                        <option value="25">25</option>
                        <option value="30">30</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="email">Choississez une couleur</label>
                    <select id="color" class="form-control">
                        <option value="#000000">Default</option>
                        <option value="#ffffff">Blanc</option>
                        <option value="#EF7A24">Orange</option>
                        <option value="#A7153B">Rouge</option>
                        <option value="#17A715">Vert</option>
                        <option value="#1551A7">Bleu</option>
                        <option value="#784A14">Marron</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="email">Choississez un fond</label>
                    <select id="background" class="form-control">
                        <option value="#000000">Default</option>
                        <option value="#ffffff">Blanc</option>
                        <option value="#EF7A24">Orange</option>
                        <option value="#A7153B">Rouge</option>
                        <option value="#17A715">Vert</option>
                        <option value="#1551A7">Bleu</option>
                        <option value="#784A14">Marron</option>
                    </select>
                </div>


            </div>
            <div id="imgArea" style="display: none;">
                <div class="form-group" id="formfirst">
                    <label for="email">Choississez une largeur</label>
                    <select id="larg" class="form-control">
                        <option value="40">40 px</option>
                        <option value="70">70 px</option>
                        <option value="100">100 px </option>
                        <option value="120">120 px </option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="email">Choississez une longueur</label>
                    <select id="long" class="form-control">
                        <option value="30">30 px</option>
                        <option value="60">60 px</option>
                        <option value="90">90 px </option>
                        <option value="110">110 px </option>
                    </select>
                </div>
            </div>

        </div>
        <!--3eme colonne-->
    </div>
</div>



<!-- Modal Add texte-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><img src="logo.png" id="logo"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Renseigner votre texte</label>
                        <input type="text" class="form-control" id="texteInput">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-trash-o"
                            aria-hidden="true"></i> Annuler</button>
                    <button type="button" class="btn btn-primary" id="btnSubmit"> <i class="fa fa-check-circle-o"
                            aria-hidden="true"></i>
                        Valider</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal Add image-->
<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><img src="logo.png" id="logo"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Ajouter une image</label>
                        <input type="file" class="form-control" id="texteInput">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-trash-o"
                            aria-hidden="true"></i> Annuler</button>
                    <button type="button" class="btn btn-primary" id="btnSubmit"> <i class="fa fa-check-circle-o"
                            aria-hidden="true"></i>
                        Valider</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal Add paragraphe-->
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><img src="logo.png" id="logo"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Renseigner votre paragraphe</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-trash-o"
                            aria-hidden="true"></i> Annuler</button>
                    <button type="button" class="btn btn-primary" id="btnSubmit"> <i class="fa fa-check-circle-o"
                            aria-hidden="true"></i>
                        Valider</button>
                </div>
            </form>
        </div>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js" type="text/javascript"></script>
<script>


    $("li").draggable({
        cursor: 'move'
    });

    $("#part2").droppable({
        drop: function (event, ui) {
            var id = ui.draggable.attr("id");
            if (id == "text" || id == "text2" || id == "text3") {
                document.getElementById('textArea').style.display = "block";
                document.getElementById('imgArea').style.display = "none";
            } else if (id == "text4") {
                document.getElementById('imgArea').style.display = "block";
                document.getElementById('textArea').style.display = "none";
            }
            else {
                document.getElementById('textArea').style.display = "none";
                document.getElementById('imgArea').style.display = "none";
            }
        }
    });

    $("#demo li").on("click", function () {
        var clickedBtnID = $(this).attr('id'); // or var clickedBtnID = this.id
        sessionStorage.setItem("lastname", clickedBtnID);
        $("#demo li").css("border", "none");
        if (clickedBtnID == "text" || clickedBtnID == "text2" || clickedBtnID == "text3") {
            document.getElementById('textArea').style.display = "block";
            document.getElementById('imgArea').style.display = "none";
            $('#' + sessionStorage.getItem("lastname")).css("border", "1px solid black");
        } else if (clickedBtnID == "text4") {
            document.getElementById('imgArea').style.display = "block";
            document.getElementById('textArea').style.display = "none";
            $('#' + sessionStorage.getItem("lastname")).css("border", "1px solid black");
        }
        else {
            document.getElementById('textArea').style.display = "none";
            document.getElementById('imgArea').style.display = "none";
        }

    });


    $("#fs").change(function () {
        $('#' + sessionStorage.getItem("lastname")).css("font-family", $(this).val());

    });

    $("#size").change(function () {
        $('#' + sessionStorage.getItem("lastname")).css("font-size", $(this).val() + "px");

    });

    $("#color").change(function () {
        $('#' + sessionStorage.getItem("lastname")).css("color", $(this).val());

    });

    $("#background").change(function () {
        $('#' + sessionStorage.getItem("lastname")).css("background", $(this).val());

    });

    $("#larg").change(function () {
        //alert('largeur');
        $("#logo1").animate({

            width: $(this).val() + "px",
            height: 'auto'
        });
    });

    $("#long").change(function () {
        //alert('longueur');
        $("#logo1").animate({

            height: $(this).val() + "px",
            width: 'auto'
        });
    });

    var texteArray = [];

    $(document).ready(function () {
        $("#btnSubmit").click(function () {
            var str = $("#texteInput").val();
            // alert(str);
            $("#texteInput").val('');
            texteArray.push(str);
            console.log(texteArray);
            /*$.each(texteArray, function (index, value) {
                // $("#demo").append('<li style="z-index :1" id="text">First</li>');
                document.getElementById("demo").innerHTML = '<li style="z-index : 1" id="text" class="ui-draggable ui-draggable-handle">22First</li>'
            });*/
        });
    });



</script>